:root{
    --background-color:#B1B2FF;
    --color:#EEF1FF; 
    --hover:#D2DAFF;
    --button:#4976dd;
    --other:rgb(31, 31, 94);
 }

.navbarcontainer {
    display: flex;justify-content: space-between; padding: 0px 30px;
    box-shadow: 2px 2px var(--hover);position: fixed;top: 0;left: 0;
    width: 100vw;background-color: var(--hover);z-index: 1200; height: 8vh;
}
.navbarcontainer img {
    width: 100px; height: 40px; cursor: pointer;
}

/* /////////////////////////////////////////////Navbar 1 ////////////////////////////////////////////// */
.navbarcontainer .navbarnotifcation img{
width: 40px;height: 40px;border-radius: 50%;
}
.signup-option .imageshow {
width: 200px; height: 200px;position: absolute;
top: 50%;left: 50%;transform: translate(-50%,-50%);
border-radius: 30px;
}
.navbarcontainer .navbarnotifcation {
    display: flex;align-items: center;justify-content: space-between;
    width: 160px; 
}
.navbarcontainer .navbarnotifcation  .icon {
    color:var(--button); transition: all .5s;
}
.navbarcontainer .navbarnotifcation  .icon.active {
    color: red;
}
.navbarcontainer .navbarnotifcation  .icon:hover{
    color:var(--hover);
    transition: all .1s;cursor: pointer;
    transform: scale(1.1);

}

.navbarnotifcation .frendnotification {
    color: white;position: absolute;left: 85px;font-size:1em;background-color:red ;
    padding: .8px 1px;border-radius: 50%;
}

/* ////////////////////////////////////////////  select section seaction ////////////////////////////////////////// */
.navbarcontainer .selectdataneed {
    display: flex;width: 450px;
}



/* /////////////////////////////////////////////Navbar 1 Card////////////////////////////////////////// */
.navbarcontainer .navbar1allcontainer{
    position: absolute;left: 50px;top: 68px;text-transform: capitalize;
    background-color: rgba(192, 192, 192, 0.918);width: 250px;
    border-radius: 10px;padding: 5px;

}
.navbarcontainer .navbar1card .container {
    display: flex;align-items: center;
}
.navbarcontainer .navbar1card {
 cursor: pointer;max-height: 350px;overflow-y: auto;
 padding: 2px;
}
.navbarcontainer .navbar1card p {
    margin: 5px;margin-left: 10px;font-size: .9em;
}
.navbarcontainer .navbar1card p:first-child {
    font-weight: bold;
}
.navbarcontainer .navbar1card:hover {
    background-color: rgba(68, 68, 255, 0.301) ; transition: all .5s;
    border-radius: 10px;

}
.navbarcontainer .navbar1card .time {
    font-size: .8em;font-weight: bold;padding: 5px;margin-left: auto;
}
.navbarcontainer .navbar1card .timecontainer {
    display: flex;align-items: center;justify-content: left;
}

.frendnavbar {
    display: flex;justify-content: center;margin-top: 69px;margin-left: -30px;
    background-color: white;
}

.type-notification {
    color: white;
}



/* //----------------------------------------information bar --------------------------------------------// */

.selectinformationbar {
    display: flex;flex-direction: column;
    background-color: red;
}




@media screen and (max-width:850px ) {
    .navbarcontainer .searchnavbar {
        display: none;
    }
    .navbarcontainer .selectdataneed {
        display: none;
    }

    
}
@media screen and (max-width:500px ) {
    .navbarcontainer .searchnavbar {
        display: none;
    }
    .navbarcontainer .selectdataneed {
        display: none;
    }
    
}





/* //-------------------------------------personal-informatio-logout----------------------------------// */
.personal-informatio-logout {
    position: absolute; right: 20px; top: 54px; background-color: var(--hover);
    padding: 10px; border-radius: 5px;
}
.icon1-personal-container li {
    text-align: center; font-weight: bold; text-transform: capitalize; color: var(--button);
    padding: 5px; border: 1px  solid var(--hover); cursor: pointer; display: flex;width: 200px;
    border: 1px solid var(--background-color); margin-bottom: 5px;
    justify-content: center;
}
.icon1-personal-container li:hover{
    transition: all .5s; background-color: var(--color);
}

/* //-------------------------------------report post -----------------------------------------------// */
.icon-holder-report {
    position: relative;
}
.report-icon-notificatiton {
    background-color: red;color: white;width: 17px;height: 17px;border-radius: 50%;
    position: absolute;top: 0;left: 15px;text-align: center;display: flex;align-items: center;
    justify-content: center;font-size: 1.2em;padding: 2px;
}
.icon-holder-report .card-report {
    position: absolute;left: 0px;top: 50px;text-transform: capitalize;
    background-color: rgba(192, 192, 192, 0.918);width: 250px;
    border-radius: 10px;padding: 5px;padding: 10px;
}
.icon-holder-report .element-report {
    display: flex;align-items: center;justify-content: start;
}
.icon-holder-report .element-report .text-report {
    margin-left: 10px;margin-top: 10px;
}
.icon-holder-report .element-report .name-s{
    font-weight: bold;
}



.Admin-role-requrst {
    position: absolute;top: 70px;left: 120px;
    background-color: white;padding: 10px;border-radius: 20px;
    max-height: 400px;overflow-y: auto;
    
}
.Admin-role-requrst .information-section {
    display: flex;align-items: center;
}
.Admin-role-requrst .name-part {
    font-weight: bold;
}
.Admin-role-requrst .information-section .text-section {
    padding: 3px;margin-top: 3px;
} 
.Admin-role-requrst .select-section {
    display: flex;justify-content: space-around;
    margin-top: 5px;
}
.Admin-role-requrst .select-section button {
    width: 45%;height: 30px;
    
}
.pointer-role {
    position: absolute;left: 155px;
    background-color: red;color: white;border-radius: 50%;
    width: 20px;height: 20px;display: flex;align-items: center;justify-content: center;
}