
@use "../../../main-style/style.scss";

.movei-container-section {
    position: fixed; right: 90px;top: 70px; 
    width: 150px;
    .movei-container {
        cursor: pointer;position: relative;

        &:hover p{
            opacity: 1;
    
        }

    }
    img {
         width: 200px; height: 135px; border-radius: 10px;  margin-bottom: 10px;
    }
    p{
        opacity: 0; transition: all .5s;
        position: absolute; left: 0%; bottom: 10px; font-weight: bold; color: style.$button;
        width: 200px; padding: 5px; text-align: center;
        background-color: style.$hover;

    }

}


@media screen  and (max-width:1200px) {
    .movei-container-section {
        display: none;
    }
}