@use "../../main-style/style.scss";
body {
  font-family: 'Quicksand', sans-serif;
  color: #324e63; 
}

.main-page-holder {
  display: flex;  flex-wrap: wrap; 
  margin: 70px 100px; justify-content: space-around;

}

@media screen and (max-width:800px) {
  .main-page-holder {
    margin: 70px 15px;

  }
}
.personal-page-container {
  background-color: rgba(255, 255, 255, 0.356);padding: 15px;
  margin-left: auto; margin-right: auto; margin-top: 100px; position: relative;
  border-radius: 20px;
  .personalImage {
    border: 3px solid rgba(71,72,84,0.74); border-radius: 50%; width: 150px; height: 150px;
    position: absolute; left: 50%; top: 0;transform: translate(-50%,-50%);
  }

  .collection-text {
    text-align: center; display: flex; justify-content: space-around;
    margin-top: 70px;
    li {

      div{
        display: flex; align-items: center; justify-content: start;
        padding: 10px;
      }

    }

  }
  .button-section {
    margin-left: auto; margin-right: auto; display: block; margin-top: 20px;
    padding: 10px; background-color: style.$button; border: 1px solid style.$button;
    color: style.$hover; border-radius: 5px; font-weight: bold; cursor: pointer;
  }


}



.all-frind-container {
  display: flex; padding: 20px 50px;
  img{
    width: 100px; height: 100px; border-radius: 10px;
  }
}








